body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #0d876d;
  margin: 0;
  padding: 0;
  background: grey;
}
header {
  margin-left: 20em;
  margin-right: 20em;
}

main {
  margin-left: 20em;
  margin-right: 20em;
}

#recipes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 0.5rem;

  > div {
    padding: 1rem;
    background-color: #580404;
    border-radius: 1rem;
  }
}

@media screen and (max-width: 800px){
  main{
    margin: 0;
  }
  header{
    margin: 0;
  }
}